@font-face
{
　　font-family:blod;
　　src:url('fonts/Montserrat-Bold.ttf'),
}
/*Reset the style of all elements on the page*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*Reset a label style*/
a{
	text-decoration:none; 
	color:#000;
}
/*Reset li label style*/
li{
	list-style: none;
}
.wrap{
	padding: 20px 5%;/*set padding*/
	display: grid;	/*Grid layout*/
	box-sizing: border-box;
}
body,html{
	height: 100%;
	background: #F7F7FF;
	font-size: 14px;
}
/*The head style adopts grid layout and sets the width ratio*/
.header{
	display: grid;
	grid-template-columns: 33.3% 33.3% 33.3%;
	margin-bottom: 50px;
}
/*The main content area adopts grid layout and is divided into three parts: left, middle and right*/
.main{
	display: grid;
	grid-template-columns: 33.3% 33.3% 33.3%;
	background: url(images/bg-image/scooter.svg) center center no-repeat;/*Set the background image, display in the center, norepeat*/
}
/*Left text area style*/
.main .left{
	grid-column: 1/2;
	word-break: break-all;
	
}
/*Left text area style*/
.main .left h1{
	font-size: 5vh;
	font-family: 'Montserrat', sans-serif;
	word-wrap: break-word; 
	word-break: break-all;
}
/*Left text area style*/
.main .left h4{
	word-wrap:break-word;
	word-break:break-all;
	font-weight: normal;
	font-size: 20px;
	margin-top: 60px;
	line-height: 1.8;
}

.main .mid{
	grid-column: 2/3;
}
/*The right area sets the width, and is horizontally and vertically centered*/
.main  .right{
	grid-column: 3/4;
	justify-content: center;
	align-items: center;
}
/*Right Title Style*/
h2{
	font-size: 28px;
}
/*Right subtitle style*/
h3{
	font-size: 16px;
	font-weight: normal;
	margin-top: 5px;
}
/*Set form style*/
.main form{
	border-radius: 30px;
	background: #fff;
	padding: 30px 40px 40px;
}
.main form .last{
	text-align: center;
}
/*Set the input box style of the form*/
.main form input{
	width: 100%;
	box-sizing: border-box;
	border: none;
	border-radius: 4px;
	background: #efefef;
	margin-top: 10px;
	padding: 11px;
}
.main form .check{
	display: inline;
	width:20px;
}
.main form  a{
	color: #FF8480;
}
/*Form submit button*/
.btn{
	background: #57EEAB;
	display: block;
	border: none;
	border-radius: 8px;
	width: 100%;
	padding:10px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 24px;
}
/*Bottom style*/
.footer{
	padding: 20px 10%;
	margin-top: 20px;
	background: #FFFD8C;
}
.fot-left .p1{
	font-weight: bold;
	margin-bottom: 8px;
}
.sch input{
	border-radius: 4px;
	background: #efefef;
	margin-top: 10px;
	padding: 6px 10px;
	border: none;
}
/*Bottom button*/
.calculate{
	background: #FF8480;
	color: #fff;
	border-radius: 6px;
	padding: 4px 25px;
	display: inline-block;
	position: relative;
	top: 3px;

}
/*The bottom flex layout is divided into left and right parts*/
.fot{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.hours{
	width: 70px;
}
.fot-right img{
	margin: 0 10px;
} 
/*Adaptive pad*/
@media screen and (max-width: 1024px) {
	.wrap{
		padding: 20px 10%;	
	}
	.main{
		background:none;
		
	}
	/*Set full line*/
   .main .left {
	    grid-column: 1/4;
	}
	/*Set full line*/
	.main .mid {
    	grid-column: 1/4;
    	background: url(../images/bg-image/scooter.svg) center center no-repeat;
    	min-height: 350px;
	}
	/*Set full line*/
	.main .right {
    	grid-column: 1/4;
    	margin-top: 30px;
	}
	.fot-left{
		width: 100%;
	}
	.fot-right{
		flex: 1;
		text-align: center;
		margin-top: 20px;
	}
}
/*Adaptive mobile phone*/
@media screen and (max-width: 767px) {
	/*Set full line*/
	.calculate{
		grid-column: 1/4;
		text-align: center;
	}
	/*Set grid layout*/
	.sch{
		display: grid;
		grid-template-columns:70px auto;
		grid-gap: 10px;
	}
	/*Sets the width of the city box*/
	.city{
		grid-column: 2/4;
    	
	}
}