
body{
	background-color: #aad4cf;
}
.container{
	width: 1024px;
	margin: 0 auto;/*center horizontally*/
}
header{
	position: relative;
}
.title{
	color: #fff;
    position: absolute;
    top: 203px;
    left: 356px;
    font-size: 50px;
}
nav{
	margin-bottom: 30px;
}
nav a{
	width: 33%;
	padding-top: 10px;
	padding-bottom: 10px;
	box-sizing: border-box;
	text-align: center;
	font-size: 20px;
	display: inline-block;
	border-right: 1px solid #000;/*border*/
	text-decoration: none;/*no line*/
	color: #000;
}
nav a:last-child{
	border-right: 0;
}
nav a:hover{
	color: red;
}
main{
	background:rgba(255,255,255,.4);
	padding: 10px;
}
article{
	overflow: hidden;/*clear float*/
}
.stitle{
	font-size: 30px;
	margin-bottom: 10px;
}
#img{
	float: left;
	width: 230px;
	margin-right: 30px;
}
.sstitle{
	font-size: 24px;
	margin-top: 30px;
	margin-bottom: 10px;
}
ul{
	margin-left: 20px;
}
ul li{
	list-style: disc;
}
#form{
	border: 1px solid #000;
	padding: 10px;
}
#form label{
	margin-top: 10px;
	display: block;
	margin-bottom: 10px;
}
#form input[type="text"],#form input[type="email"]{
	width: 100%;	
}
textarea{
	height: 100px;
	width: 100%;
}
#form input[type="submit"]{
	border: 1px solid #000;
	padding: 10px;
	margin-top: 20px;
	background-color: transparent;/*set transparent color*/
}
footer{
	background:rgba(255,255,255,.4);
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 10px;
	text-align: right;
	margin-bottom: 20px;
}